.table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1%;
}

.table td,th {
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 5px 12px;
    text-align: left;
    vertical-align: top;
}

form input{
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
